name: Composer test

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@master

    - name: Install dependencies
      uses: php-actions/composer@v5
      with:
        php_version: 7.4
        command: install

    - name: Copy example .env file
      run: cp .env.example .env

    - name: Run docker-compose setup
      run: docker-compose up -d

    - name: Setup - Keep trying to install the DBs (try for 30 seconds)
      uses: nick-invision/retry@v2.4.1
      with:
        max_attempts: 30
        retry_wait_seconds: 1
        timeout_seconds: 30
        command: docker-compose exec -T api php artisan migrate:fresh

    - name: Setup - Other things
      run: |
        docker-compose exec -T api php artisan passport:install
        docker-compose exec -T api php artisan db:seed
        docker-compose exec -T api php artisan key:generate

    - name: PHPUnit
      run: docker-compose exec -T api vendor/bin/phpunit
    - name: Psalm
      run: docker-compose exec -T api vendor/bin/psalm
