name: Docker build

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Set up helmfile
        uses: helmfile/helmfile-action@v2.1.0
        with:
          helmfile-version: 'v0.162.0'
          helm-version: 'v3.12.2'
          helm-plugins: >
            https://github.com/databus23/helm-diff@v3.12.5
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
      - name: Check out `wmde/wbaas-deploy` repository in staging child directory
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v6
        with:
          repository: wmde/wbaas-deploy
          path: ./repos/wbaas-deploy-staging
      - name: Check out `wmde/wbaas-deploy` repository in production child directory
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v6
        with:
          repository: wmde/wbaas-deploy
          path: ./repos/wbaas-deploy-production
      - name: Update values for local, staging and production
        if: github.event_name != 'pull_request'
        id: update-values
        run: |
          TAG="$(echo ${{ steps.docker_meta.outputs.tags }} | cut -d':' -f2)"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          sed -i "/image:/{n;s/tag:.*/tag: $TAG/;}" ./repos/wbaas-deploy-staging/k8s/helmfile/env/local/api.values.yaml.gotmpl
          sed -i "/image:/{n;s/tag:.*/tag: $TAG/;}" ./repos/wbaas-deploy-staging/k8s/helmfile/env/staging/api.values.yaml.gotmpl
          sed -i "/image:/{n;s/tag:.*/tag: $TAG/;}" ./repos/wbaas-deploy-production/k8s/helmfile/env/production/api.values.yaml.gotmpl
      - name: Update argo values for local, staging and production
        if: github.event_name != 'pull_request'
        id: update-argo-values
        run: |
          cd ./repos/wbaas-deploy-staging
          # run generate values script for local from staging folder
          ./bin/generate-values local api
          # run generate values script for staging from staging folder
          ./bin/generate-values staging api
          # run generate values script for prod from prod folder
          cd ../wbaas-deploy-production
          ./bin/generate-values production api
      - name: Truncate commit message
        if: github.event_name != 'pull_request'
        id: truncate-commit-message
        run: |
          MSG=$(git log -1 --pretty=format:%s)
          echo "msg=$MSG" >> $GITHUB_OUTPUT
      - name: Create Staging+Local Pull Request
        uses: peter-evans/create-pull-request@v7
        if: github.event_name != 'pull_request'
        with:
          path: ./repos/wbaas-deploy-staging
          commit-message: 'Staging+Local: Deploy new Platform API image ${{ steps.docker_meta.outputs.tags }}'
          title: 'Staging+Local: Deploy new Platform API image ${{ steps.docker_meta.outputs.tags }}'
          branch: deploy-to-staging-${{ steps.update-values.outputs.tag }}
          committer: wmdebot <github-bots@wikimedia.de>
          author: wmdebot <github-bots@wikimedia.de>
          labels: automated pr
          token: ${{ secrets.WBAAS_DEPLOY_TOKEN }}
          body: |
            This is an automated update for the `api` image in staging and local, using `${{ steps.update-values.outputs.tag }}`.

            **Changes**: [${{ steps.truncate-commit-message.outputs.msg }}](https://github.com/wbstack/api/commit/${{ github.sha }})
      - name: Create Production Pull Request
        uses: peter-evans/create-pull-request@v7
        if: github.event_name != 'pull_request'
        with:
          path: ./repos/wbaas-deploy-production
          commit-message: 'Production: Deploy new Platform API image ${{ steps.docker_meta.outputs.tags }}'
          title: 'Production: Deploy new Platform API image ${{ steps.docker_meta.outputs.tags }}'
          branch: deploy-to-production-${{ steps.update-values.outputs.tag }}
          committer: wmdebot <github-bots@wikimedia.de>
          author: wmdebot <github-bots@wikimedia.de>
          labels: automated pr
          token: ${{ secrets.WBAAS_DEPLOY_TOKEN }}
          body: |
            This is an automated update for the `api` image in production, using `${{ steps.update-values.outputs.tag }}`.

            **Changes**: [${{ steps.truncate-commit-message.outputs.msg }}](https://github.com/wbstack/api/commit/${{ github.sha }})
